# Секреты и ключи (Самое важное!)
.env
config.py  # Если ты хранишь токены внутри этого файла

# Виртуальное окружение
venv/
env/
ENV/

# Кэш Python
**/__pycache__/
*.py[cod]
*$py.class

# Базы данных
*.sqlite3
*.db

# Логи
*.log

# Папки IDE (PyCharm, VS Code)
.idea/
.vscode/